.background {
  min-height: 100vh;
  background-color: white;
}

.nav {
  display: flex;
  font-size: calc(10px + 1vmin);
  min-height: 6vh;
}
.nav > .nav-container {
  display: flex;
  align-items: center;
  float: left;
  width: 90%
  /* padding-top: 1vh; */
}
.nav > .nav-container > a {
  margin-left: calc(5px + 2vmin);
  color: blcak;
  font-weight: bold;
  text-decoration: none;
}
.nav > .nav-container > a:hover {
  color: #ff3e00;
}
.nav > .user-container {
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
  width: 10%;
}

.wrapper {
  min-height: 94vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
  color: black;
}

main, .container {
  margin-bottom: 15vh;
}

.link {
  color: #ff3e00;
}

.active {
  color: #ff3e00;
}

button {
  margin: 2vh 1vw;
  padding: 1vh 1vw;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #333;
  /* border: 1px solid white; */
  border: none;
  outline: none;
  border-radius: 1em;
  transition-duration: 0.5s;
  cursor: pointer;
}
button:hover {
  font-size: calc(15px + 1vmin);
  background-color: #ff3e00;
}

input {
  font-size: calc(10px + 1vmin);
  margin: 1vh 1vw;
}

.err {
  font-size: calc(10px + 1vmin);
  color: #ff3e00;
}

.succeed {
  font-size: calc(10px + 1vmin);
  color: #1ddb5c;
}

.dropdown-menu {
  padding: 4px 0;
  font-weight: 500;
  background-color: white;
  color: #282c34;
  position: absolute;
  z-index: 80;
  border: solid 1px black;
  border-radius: 6px;
  /* transform: translateY(-10px); */
}
.dropdown-item {
  font-size: calc(5px + 1vmin);
  padding: 0.5vh 1vh;
}
.dropdown-action-item:hover {
  color: white;
  background-color: #9900ff;
}
.dropdown-action-item {
  cursor: pointer;
}
.dropdown-divider {
  display: block;
  height: 0;
  margin: 8px 0;
  border-top: 1px solid #282c34;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.3;
  z-index: 90;
}

.alert-box,
.prompt-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.alert,
.prompt {
  /* display: flex;
  flex-direction: column; */
  padding: 20px;
  font-size: calc(15px + 1vmin);
  color: black;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.alert-msg,
.prompt-msg {
  align-self: stretch;
}
.alert > button,
.prompt > button {
  margin: 0;
  margin-top: 2vh;
  align-self: center;
}

.margintop1 {
  margin-top: 1vh;
}
.margintop2 {
  margin-top: 2vh;
}
.margintop3 {
  margin-top: 3vh;
}
.margintop3 {
  margin-top: 4vh;
}

input[type='number'] {
  width: 150px;
}

::selection {
  background: #ff3e00;
  color: white;
}
