.background {
  min-height: 100vh;
  background-color: #282c34;
}

.nav {
  font-size: 20px;
  min-height: 6vh;
}

.nav > .nav-container {
  padding-top: 1em;
}

.nav > .nav-container > a {
  margin-left: 1em;
  color: white;
  text-decoration: none;
}

.nav > .nav-container > a:hover {
  color: #61dafb;
}

.wrapper {
  min-height: 94vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main, .container {
  margin-bottom: 15vh;
}

.link {
  color: #61dafb;
}

.active {
  color: #61dafb;
}

button {
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  color: white;
  background-color: #333;
  border: 1px solid white;
  outline: none;
  transition-duration: 500ms;
  border-radius: 1em;
}

button:hover {
  font-size: 20px;
  cursor: pointer;
  background-color: #61dafb7e;
}

input {
  font-size: 20px;
}

.err {
  font-size: 15px;
  color: #ff3e00;
}
