.background {
  min-height: 100vh;
  background-color: #282c34;
}

.nav {
  min-height: 6vh;
}

.nav > .nav-container {
  padding-top: 1em;
}

.nav > .nav-container > a {
  margin-left: 1em;
  color: white;
  text-decoration: none;
}

.nav > .nav-container > a:hover {
  color: #61dafb;
}

.wrapper {
  min-height: 94vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  margin-bottom: 20vh;
}

.link {
  color: #61dafb;
}
