.tag-input {
  width: 150px;
}

.tag {
  display: inline-block;
  color: white;
  background-color: gray;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 1px 10px;
  margin: 0 5px;
  border-radius: 2em;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
}
.tag:hover,
.tag:focus {
  color: white;
  background-color: #9900ff;
  border: none;
}
.tag::selection {
  color: white;
  background-color: grey;
}

.selected-tag {
  color: white;
  background-color: #ff3e00;
  border: none;
}
.selected-tag::selection {
  color: white;
  background-color: #ff3e00;
}

.money-unit-container {
  display: flex;
  text-align: left;
  border: solid 1px black;
  margin: 2vh 0;
  padding: 1vh 0;
  font-size: calc(10px + 1vmin);
}

.col-date {
  padding: 0 1vw;
  width: 15%;
}
.col-amount {
  padding: 0 1vw;
  width: 15%;
}
.col-tags {
  padding: 0 1vw;
  width: 30%;
}
.col-summary {
  padding: 0 1vw;
  width: 40%;
}

.display-tag {
  background-color: #ff3e00;
}