.sign-container {
  padding: 20px 20px;
  border: 1px solid;
}

.sign-tab-box {
  font-size: calc(10px + 1vmin);
  margin-bottom: 2vh;
}

.sign-tab {
  margin: 0 4vw;
}

.sign-tab-active {
  margin: 0 4vw;
  color: #272829;
}

.sign-tab:hover {
  cursor: pointer;
  color: #ff3e00;
}
