.sign-container {
  padding: 20px 50px;
  border: 1px solid;
}

.sign-tab-box {
  font-size: 15px;
  margin-bottom: 10px;
}

.sign-tab {
  margin: 0px 20px;
}

.sign-tab-active {
  margin: 0px 20px;
  color: #61dafb;
}

.sign-tab:hover {
  cursor: pointer;
  color: #61dafb;
}
